
@font-face {
    font-family: t;
    src: url("/font/Plume-Free-Brush-Font.otf");
}

h1{
    font-family:'t';
    font-size: 180px;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
h2{
    font-family:'t';
    font-size: 80px;
    text-align: center;
    border: 3px solid rgb(47, 30, 68);

}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    color: rgb(23, 23, 27);
    width: 20%;
    margin: 200px 0px 0px 50px ;
    display: inline-block;
}
a{
    font-family:'t';
    font-size: 20px;
    text-align: left;
    color: rgb(77, 58, 95);
    padding: 100px;

}


.headerBox{
    padding: 80px;
    background-color: rgb(41, 44, 63);
}
.button1{
    width: 20%;
    height: 60px;
    background-color: rgb(53, 65, 121);
    margin: 100px 0px 0px 200px;
    display: inline-block;
}
.button2{
    width: 20%;
    height: 60px;
    background-color: rgb(103, 124, 182);
    margin: 200px 0px 0px 50px ;
    display: inline-block;

}

.button3{
    width: 20%;
    height: 60px;
    background-color: rgb(235, 221, 143);
    margin: 200px 0px 0px 50px ;
    display: inline-block;

}
.platzhalter{
    width: 58%;
    height: 600px;
    background-color: rgb(195, 195, 214);
    margin: 300px 0px 0px 500px ;
}
.platzhalterB{
    width: 58%;
    height: 200px;
    background-color: rgb(195, 195, 214);
    margin: 300px 0px 0px 80px ;
    display: inline-block;
}



