@font-face {
    font-family: plume;
    src: url("/process/font/Plume-Free-Brush-Font.otf");
    }
    @font-face {
        font-family: mono;
        src: url("/process/font/VCR_OSD_MONO_1.001.ttf");
    }
    h1{
        font-family: plume;
        font-size: 600px;
        color: rgb(255, 255, 255);
        margin: 0%;
     transition-property: all;	
     transition-duration: 1s;
     transition-timing-function: linear;
    }
    h2{
        font-family: plume;
        font-size: 260px; 
        color: rgb(255, 255, 255); 
        margin: 0%;
    }
    h3{
        font-family: plume;
        font-size: 120px;
        color: rgb(255, 255, 255);  
        margin: 0%;
    }
    h4{
        font-family: plume;
        font-size: 100px;
        color: rgb(255, 255, 255);
        margin: 0%;  
    }
    h5{
        font-family: plume;
        font-size: 64px;
        color: rgb(255, 255, 255); 
        margin: 0%; 
    }
    p{
        font-family: mono;
        font-size: 14px;
        color: rgb(255, 255, 255);
    }
    a{
        font-family: mono;
        font-size: 24px;
        color: rgb(255, 255, 255);
        display: block;
        padding: 30%;
    }
body{
    background-color: black;
}
.containerFlex{
height: 100vh;
max-width: 100vw;
display: flex;
align-items: space-evenly;
margin: 10% 0% 10% 0%;
}


.contentrotate{
    transform: rotate(90deg);
    white-space: nowrap;
    display: inline-block;
    max-width: 200px;
    
    
}
/* Container*/
.container{
    height: 100vh;
    width: 100vw;
}
.containerk{
    height: 40vh;
    width: 100vw;

}
.containerk2{
    height: 10vh;
    width: 100vw;

}
.containerR{
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0%
    
}
.centerB{
    text-align: center;
    white-space: nowrap;
}
/* Positions*/
.top{
    padding: 20% 0% 15% 0% ;
    white-space: nowrap;
}
.bottom{
    padding: 2% 0% 2% 0% ;
    white-space: nowrap;
}
.bottoma{
    padding: 2% 0% 2% 0% ;
}
.bottomC{
    padding: 0% 0% 5% 0% ;
    text-align: center;
}
.rotatet{
    transform: rotate(270deg);
    display: inline-block;
    position: relative;
    
}
.rotatet2 {
    transform: rotate(270deg);
    display: inline-block;
    position: relative;
    left: 12%;
    width: 43%;
}
.posAbsolutCenter{
    position: absolute ;
    
}
/* attribute*/
.inline{
    display: inline-block;

}
.space{
    width: 20%;
}
.spacetop{
padding-top: 30%;
}
/*boxen*/
.box1{}

    
.box2{
   transform: rotate(90deg);
   width: 30%; 
   height: 10%;
   display: inline-block;
}
.box3{
    position: relative;
  display: inline-block;
    
}

.box4{
    transform: rotate(90deg);
    width: 114%;
    height: 136%;
    display: inline-block;
}
.box5{
 transform: rotate(90deg);
  width: 20%;
  display: inline-block;
}
.blockdeg90 h4 {
    position: absolute;

}


.blockdeg90{
position: relative;
 height: auto;
 width: 100%;
 left: -50%;
 transform: rotate(270deg);
 display: inline-block;

}

.blockdeg{
 transform: rotate(270deg);
 display: inline-block;
 height: 103%;
}
.blockdeg2{
    transform: rotate(270deg);
    display: inline-block;
  
   }
.blockLeftTop{
    margin-top: 1%;
   text-align: left; 
  
}
.blockLeftTop2{
    text-align: left; 
    padding: 0% 0% 4% 15%;
 }
 .blockLeftTop3{
    text-align: left; 
    padding: 0% 0% 4% 25%;
 }
 .left{
     text-align: left;
  
 }
 .right{
text-align: right;

 }



/* animation*/

 h1:hover{
     color: rgb(0, 0, 0);
     
 }
 .effectFächer p {
     position: absolute;
     white-space: nowrap;
 }
 .effectFächer{
     position: absolute;
     font-family: mono;
        font-size: 100px;
        color: rgb(255, 255, 255);
        margin: 0%; 
      transform: translateY(0%);
 }
 
 .effectFächer:hover p:nth-child(1){
    transform: translateY(5%);
 }

 .effectFächer:hover p:nth-child(2){
    transform: translateY(10%);
 }
 .effectFächer:hover p:nth-child(3){
    transform: translateY(15%);
 }

 .effectFächer:hover p:nth-child(4){
    transform: translateY(20%);

}

.leftA{

width: 37%;
height: 22%;
 transition: transform 1s ease-in ;
}
.rightA{
    
    text-align: right;
    height: 22%;
    transition: transform 1s ease-in ;


}
.container:hover .leftA{
    animation: left-to-right 1s ease-in forwards;
}
.container:hover .rightA{
    animation: right-to-left 1s ease-in forwards;
}

@keyframes	left-to-right {
    0%{
        transform: translate(0%);
    }
    100%{
            transform: translateX(100%);
    }
}
@keyframes right-to-left {
    0%{
        transform:translateX(100%) ;
    }
    100%{
        transform: translateX(0%);
    }
}



