@font-face {
    font-family: plume;
    
    src: url("/process/font/Plume-Free-Brush-Font.otf");
    }
    @font-face {
        font-family: mono;
        src: url("/process/font/VCR_OSD_MONO_1.001.ttf");
    }
  
    .E{
        font-family: plume;
        font-size: 580px;
        color: rgb(240, 240, 240);
        margin: 0%;  
        cursor: pointer; 
    }
    h2{
        font-family: plume;
        font-size: 240px; 
        color: rgb(255, 249, 249);  
        margin: 0%;
    }
    h3{
        font-family: plume;
        font-size: 120px;
        color: rgb(255, 254, 254);  
        margin: 0%;
    }
    h4{
        font-family: plume;
        font-size: 100px;
        color: rgb(255, 253, 253);  
        margin: 0%;  
    }
    
    p{
        font-family: mono;
        font-size: 14px;
        color: rgb(255, 255, 255);
    }
    a{
        font-family: mono;
        font-size: 14px;
        color: rgb(255, 255, 255);
        display: block;
        padding: 30%;
    }
    .textR{
        font-family: mono;
        font-size: 14px;
        color: rgb(255, 255, 255);
    }

    
body{
    background-color: black;
}

/* FlexContainer*/
.Containercenter{
max-width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.containerleft{
max-width: 100%;
display: flex;
align-items: left;
flex-wrap: wrap;
margin: 5%;


}
.containerright{
    /*max-width: 100%;*/
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin: 5%;
     
    }

.containerbottom{

display: flex;
align-items: flex-end;
flex-wrap: wrap;
padding-top: 10%;

    }

.contentrotate{
   writing-mode: vertical-rl;
    
}

/* Container*/
.container{
    position: relative;
    max-width: 100%;
}



/* Positions*/
.center{
    text-align: center;
    display: block;
}
.top{
    padding: 20% 0% 15% 0% ;
    
}

.left{
    padding-left: 7%;
    text-align: left;
 
}
.right{
text-align: right;

}



.rotatet{
    writing-mode: vertical-rl;
    display: inline-block; 
    position: relative;
    
}
 .nowrap{
     white-space: nowrap;
 }
.padding{
    padding-bottom: 10%;
}
.padding2{
    padding-bottom: 35%;
}



/* animation*/


/*FadeAnimation*/
h1{
    font-family: plume;
    font-size: 560px;
    color: rgb(240, 240, 240);
    margin: 0%;
    transition: 1s ease-in ;
    
}
.h1Animation{
    animation: fade 2.5s ease-in forwards ;  
}


 @keyframes	fade {
    100%{
        color: black;
    }
  
}

.textA{
    font-family: plume;
    font-size: 90px;
    color: rgb(255, 255, 255);
    text-align: center;  
    display: inline-block;
    transition: all;
    animation: Bigger 1s ease-in-out infinite  alternate;
 
}


@keyframes Bigger {
    100%{
        font-size: 290px;
        color: rgb(247, 247, 247,50);  
    }
}


.textA2{
    font-family: plume;
        font-size: 100px;
        color: rgb(255, 253, 253);  
        padding: 20% 0% 15% 0% ;
        text-align: center;
        animation: blink-animation 0.5s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  .textA3{
    font-family: mono;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    animation: big-to-small 1s ease-in-out infinite alternate;

  }
  @keyframes big-to-small{
      100%{
          font-size: 8px;
      }
  }



.leftA{
text-align: left;
transition: all;
 transition: transform 2s ease-in-out; 
 
}

.leftAnimation{
    animation: left-to-right 2s cubic-bezier(0.42, 0.08, 0.61, 0.98) infinite alternate;
}



@keyframes	left-to-right {
    0%{
        transform: translate(10vw);
    }
 
    100%{
        transform: translate(70vw);
    }
}
@media only screen and (max-width: 1300px) {
    .E{
        font-size: 500px;
    }

    h1{
        font-size: 450px;
    }
    h2{
        font-size: 200px;
    }
    h3{
        font-size: 100px;
    
    }
    h4{
        font-size: 80px;
    }
}


@media only screen and (max-width: 1000px) {
    .E{
        font-size: 480px;
    }

    h1{
        font-size: 300px;
    }
    h2{
        font-size: 140px;
    }
    h3{
        font-size: 80px;
    
    }
    h4{
        font-size: 50px;
    }
}



@media only screen and (max-width: 700px) {

    .E{
        font-size: 300px;
    }

    h1{
        font-size: 150px;
    }
    h2{
        font-size: 80px;
    }
    h3{
        font-size: 50px;
    
    }
    h4{
        font-size: 30px;
    }
    .textA3{

        font-size: 30px;
    }
   p{
       font-size: 10px;
   }
   .textR{
       font-size: 10px;
       writing-mode: vertical-rl;
       width: 50%;
   }
   .ContainercenterA{
       justify-content: flex-start;
       align-items: flex-start;
   }
}





