@font-face {
    font-family: plume;
    src: url("/process/font/Plume-Free-Brush-Font.otf");
    }
    @font-face {
        font-family: mono;
        src: url("/process/font/VCR_OSD_MONO_1.001.ttf");
    }
  
    h2{
        font-family: plume;
        font-size: 260px; 
        color: rgb(255, 249, 249);  
        margin: 0%;
    }
    h3{
        font-family: plume;
        font-size: 120px;
        color: rgb(255, 254, 254);  
        margin: 0%;
    }
    h4{
        font-family: plume;
        font-size: 100px;
        color: rgb(255, 253, 253);  
        margin: 0%;  
    }
    h5{
        font-family: plume;
        font-size: 64px;
        color: rgb(255, 253, 253);  
        margin: 0%; 
    }
    p{
        font-family: mono;
        font-size: 14px;
        color: rgb(255, 255, 255);
    }
    a{
        font-family: mono;
        font-size: 24px;
        color: rgb(255, 255, 255);
        display: block;
        padding: 30%;
    }
body{
    background-color: black;
}

.Containercenter{
min-height: 100vh;
max-width: 100vw;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;


}
.containerleft{
min-height: 100vh;
max-width: 100vw;
display: flex;
align-items: left;
flex-wrap: wrap;


}
.containerright{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
     
    }

.containerbottom{
min-height: 100vh;
max-width: 100vw;
display: flex;
align-items: flex-end;
flex-wrap: wrap;

    }

.contentrotate{
   writing-mode: vertical-rl;
    
}

/* Container*/
.container{
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
}

.containerR{
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0%
    
}

/* Positions*/
.center{
    text-align: center;
    white-space: nowrap;
    display: block;
}
.top{
    padding: 20% 0% 15% 0% ;
    white-space: nowrap;
}

.left{
    text-align: left;
 
}
.right{
text-align: right;

}



.rotatet{
    writing-mode: vertical-rl;
    display: inline-block;
    position: relative;
    
}
 .nowrap{
     white-space: nowrap;
 }



/*boxen*/
.box1{}

    
.box2{
   transform: rotate(90deg);
   width: 30%; 
   height: 10%;
   display: inline-block;
}
.box3{
    position: relative;
  display: inline-block;
    
}

.box4{
    transform: rotate(90deg);
    width: 114%;
    height: 136%;
    display: inline-block;
}
.box5{
 transform: rotate(90deg);
  width: 20%;
  display: inline-block;
}

.blockdeg{
 transform: rotate(270deg);
 display: inline-block;
 height: 103%;
}
.blockdeg2{
    transform: rotate(270deg);
    display: inline-block;
  
   }
   .blogdeg3{
    transform: rotate(270deg);
    display: inline-block;
    height: 60%;
   }
.blockLeftTop{
   padding: 3% 0% 1% 6%;
   text-align: left; 
   display: inline-block;
  
}
.blockLeftTop2{
    text-align: left; 
    padding: 0% 0% 4% 15%;
    display: inline-block;
 }
 .blockLeftTop3{
    text-align: left; 
    padding: 0% 0% 4% 25%;
 }



/* animation*/


/*FadeAnimation*/
h1{
    font-family: plume;
    font-size: 600px;
    color: rgb(240, 240, 240);
    margin: 0%;
    transition: 1s ease-in ;
    
}
.h1Animation{
    animation: fade 2.5s ease-in forwards ;  
}


 @keyframes	fade {
    100%{
        color: black;
    }
  
}

.textA{
    font-family: plume;
    font-size: 90px;
    color: rgb(255, 255, 255);
    text-align: center;  
    display: inline-block;
    transition: all;
    animation: Bigger 1s ease-in-out infinite  alternate;
 
}


@keyframes Bigger {
    100%{
        font-size: 290px;
        color: rgb(247, 247, 247,50);  
    }
}


.textA2{
    font-family: plume;
        font-size: 100px;
        color: rgb(255, 253, 253);  
        padding: 20% 0% 15% 0% ;
        text-align: center;
        white-space: nowrap;
        animation: blink-animation 0.5s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  .textA3{
    font-family: mono;
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    animation: big-to-small 1s ease-in-out infinite alternate;

  }
  @keyframes big-to-small{
      100%{
          font-size: 8px;
      }
  }



/*Fächer animation*/
 .effectFächer p {
     position: absolute;
     white-space: nowrap;
 }
 .effectFächer{
     position: absolute;
     font-family: mono;
        font-size: 100px;
        color: rgb(255, 255, 255);
        padding: 3%;
      transform: translateY(0%);
 }
 
 .effectFächer:hover p:nth-child(1){
    transform: translateY(5%);
 }

 .effectFächer:hover p:nth-child(2){
    transform: translateY(10%);
 }
 .effectFächer:hover p:nth-child(3){
    transform: translateY(15%);
 }

 .effectFächer:hover p:nth-child(4){
    transform: translateY(20%);

}


/*Broken Window*/

.leftA{
width: 37%;
height: 22%;
 transition: transform 2s ease-in-out; 

}
.leftAnimation{
    animation: left-to-right 4s cubic-bezier(0, -1.03, 1, 2.11)  alternate;
}

.rightA{
    text-align: right;
    height: 22%;
    transition: transform 1s ease-in-out ;   
}

.rightAnimation{
    animation: right-to-left 4s cubic-bezier(0, -1.03, 1, 2.11)  alternate;
}

@keyframes	left-to-right {
    0%{
        transform: translate(0%);
    }
    50%{
            transform: translateX(100%);
    }
    100%{
        transform: translate(0%);
    }
}
@keyframes right-to-left {
    0%{
        transform:translateX(100%) ;
        color: rgb(255, 255, 255);
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform:translateX(100%) ;
        color: black;
    }
}

/*

@media only screen and (max-width: 800px) {
   
}
*/




